<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
		<CustomService.Properties.Settings>
      <setting name="ServiceName" serializeAs="String">
          <value>GeoServer</value>
      </setting>
      <setting name="StartupPath" serializeAs="String">
          <value>C:\geoserver\bin\startup.bat</value>
      </setting>
      <setting name="ShutdownPath" serializeAs="String">
          <value>C:\geoserver\bin\shutdown.bat</value>
      </setting>
      <setting name="WorkingDir" serializeAs="String">
          <value>c:\geoserver\bin</value>
      </setting>
      <setting name="MonitorPath" serializeAs="String">
          <value>C:\geoserver\bin\monitor.bat</value>
      </setting>
      <setting name="MonitorDelay" serializeAs="Float">
          <value>60000</value>
      </setting>
  </CustomService.Properties.Settings>
    </applicationSettings>
    
</configuration>